@model MyStore.Business.Product

@{
    ViewData["Title"] = "Create";
}

<h2>Add product</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group mb-3">
                <label asp-for="ProductName" class="form-label">Product Name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="CategoryId" class="form-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                    <option value="">-- 
Select category --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="UnitsInStock" class="form-label">Quantity</label>
                <input asp-for="UnitsInStock" class="form-control" type="number" />
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="UnitPrice" class="form-label">Price</label>
                <input asp-for="UnitPrice" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}